.about-company {
    // padding: 0 255px 264px 255px;
    padding-bottom: 264px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &__head {
            font-size: 40px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $main_color;
        }
        &__subhead {
            font-family: $second_font;
            font-size: 40px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $main_color;
        }
        &__left {
            // width: 831px;
            // height: 516px;
            padding-right: 250px;
            p, li {
                font-family: $second_font;
                font-size: 18px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: $main_color; 
            }
        }
        &__right {
            
        }
        &__more-info {
            display: none;
        }
    }
    &__logo {
        // margin-top: 100px;
        &__image {
            width: 151px;
            height: 151px;
            position: relative;
            img {
                width: 100%;
            }
        }
        &__head {
            margin-top: 33px;
            font-size: 40px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $main_color;
            span {
                text-transform: uppercase;
            }
        }
        &__subhead {
            font-family: $second_font;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #777777;
        }
    }
    &__company {
        margin-top: 33px;
        &__head {
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $main_color;
        }
        &__subhead {
            font-family: $second_font;
            font-size: 18px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #777777;
        }
    }
    &__info {
        margin-top: 33px;
        p {
            font-family: $second_font;
            font-size: 18px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $main_color;
        }
    }
}