.company {
    .wrapper {
        // padding: 0 188px 174px 186px;
        padding-bottom: 174px;
    }
    .brands {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        height: 100px;
        
        background-color: #ffffff;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__item {
            list-style-type: none;
            border-right: solid 1px rgba($color: #e8e7e7, $alpha: 1);
            padding-right: 50px;
            margin: 0 auto;
            margin-top: 35px;
            width: 135px;
            height: 35px;
            width: 60%;
            &:last-child {
                border-right: none;
                padding-right: 0;
            }
        }
        &__link {
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: #232323;
            text-decoration: none;
        }
    }
}