.main {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 21px 189px 20px 184px;
        padding-top: 21px;
        padding-bottom: 20px;
    }
    .offers {
        // width: 304px;
        width: 35%;
        // height: 476px;
        padding-left: 0;
        background-color: #ffffff;
        p {
            margin: 34px 0 0 0;
            padding: 0 0 0 15px;
            font-size: 22px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: $second_color;
        }
    }
    .catalog {
        padding-left: 0;
        margin: 27px 0 0 0;
        &__item {
            list-style-type: none;
            border-bottom: solid 1px rgba($color: #bababa, $alpha: 0.25);
            a {
                padding: 0 0 0 15px;
            }
            
        }
        &__link {
            display: flex;
            justify-content: space-between;
            font-size: 15px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.81;
            letter-spacing: normal;
            text-align: left;
            color: #303030;
            text-decoration: none;
            &::after {
                content: ">";
                float: right;
                margin-right: 15px;
                font-size: 15px;
            }
            &:hover {
                color: $second_color;
            }
        }
    }
    .portfolio {
        // width: 902px;
        position: relative;
        height: 476px;
        margin-left: 20px;
        padding: 60px 30px;
        background-color: #232323;
        &__wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &__left {
                z-index: 2;
                width: 60%;
            }
        }
        &__head {
            // margin-top: 59px;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            text-align: left;
            color: #777777;
        }
        &__subhead {
            // width: 428px;
            // min-height: 113px;
            // margin-right: 100px;
            font-size: 40px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.05;
            letter-spacing: normal;
            text-align: left;
            color: #f3f1f1;
            margin-top: 75px;
            span {
                font-family: $second_font;
                font-size: 18px;
                font-weight: 300;
                line-height: 1.11;
            }
        }
        &__img {
            position: absolute;
            top: 40px;
            right: 0;
            // width: 40%;
            // width: 256px;
            // height: 357px;
            img {
                width: 100%;
            }
        }
    }
    .sale {
        position: relative;
        &__wrapper {
            position: absolute;
            bottom: 20px;
        }
        width: 30%;
        height: 476px;
        // margin: 185px 189px 20px 21px;
        // padding: 219px 62px 52px 28px;
        padding-top: 219px;
        padding-bottom: 52px;
        border-radius: 2px;
        border: solid 2px $second_color;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        margin-left: 21px;
        &__gift {
            // padding-top: 219px;
            width: 70px;
            height: 86px;
            img {
                width: 100%;
            }
        }
        &__head {
            margin-top: 18px;
            font-size: 18px;
            line-height: 1.67;
            font-weight: normal;
            color: $main_color;
        }
        &__subhead {
            font-size: 40px;
            font-weight: normal;
            line-height: 1;
            color: $main_color;
        }
        &__catalog {
            margin-top: 20px;
            font-family: $second_font;
            font-size: 18px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: $second_color;
            text-decoration: none;
        }
    }

}