.news {
    // padding: 0 255px 172px 255px;
    padding-bottom: 172px;
    &__title {
        font-size: 40px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $main_color;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__left {
        &__item {
            max-width: 489px;
            height: 305px;
        }
        &__link {
            width: 100%;
        }
        &__data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name {
                font-family: $second_font;
                font-size: 16px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #00aa4b;
            }
        }
        &__head {
            margin-top: 15px;
            font-size: 24px;
            font-weight: normal;
            line-height: 1.5;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $main_color;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                color:  #3376c2;
            }
        }
        &__subhead {
            margin-top: 15px;
            font-family: $second_font;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $main_color;
        }
    }
    &__right {
        &__text {
            max-width: 608px;
        }
        &__item {
            display: flex;
            // justify-content: space-between;
            // align-items: flex-start;
            margin-top: 40px;
            // margin-left: 105px;
            width: 100%;
            &:first-child {
                margin-top: 0;
            }
        }
        &__link {
            width: 190px;
            img {
                width: 190px;
            }
        }
        &__data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name {
                font-family: $second_font;
                font-size: 16px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #00aa4b;
            }
        }
        &__head {
            margin-top: 15px;
            font-size: 24px;
            font-weight: normal;
            line-height: 1.5;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $main_color;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                color:  #3376c2;
            }
        }
        &__subhead {
            margin-top: 15px;
            font-family: $second_font;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $main_color;
        }
    }
    &__button {
        margin-top: 55px;
    }
}