.button {
    border: none;
    a {
        text-decoration: none;
        list-style-type: none;
    }
    &:hover {
        cursor: pointer;
    }
    &__all {
        width: 66px;
        height: 41px;
        border: solid 1px #e8e7e7;
        background-color: #f1f1f1;
        border-radius: 5px 0px 0px 5px;
        img {
            width: 12px;
            height: 6px;
            margin: 4px 0 1px 6px;
        }
    }
    &__copy {
        display: none;
        position: absolute;
        top: 65px;
        right: 370px;
        width: 163px;
        height: 45px;
        border-radius: 22.5px;
        box-shadow: 4.3px 5.5px 24px 0 rgba(0, 0, 0, 0.49);
        background-color: #232323;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    &__search {
        width: 49px;
        height: 41px;
        // margin: 0 0 0 770px;
        padding: 7px 10px 6px;
        border-radius: 0px 5px 5px 0px;
        background-color: #ffaf2d;
    }
    &__portfolio {
        width: 129px;
        height: 35px;
        margin-top: 66px;
        // margin: 66px 217px 72px 0;
        // padding: 10px 21px 8px;
        border-radius: 17.5px;
        background-color: #ffaf2d;
        a {
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.22;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
        }
        
        
    }
    &__news {
        padding: 10px 30px;
        border-radius: 17.5px;
        border: solid 2px $main_color;
        background-color: #ffffff;
        font-family: $second_font;
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: $main_color;
        text-decoration: none;
            &:hover {
                cursor: pointer;
                color:  #3376c2;
            }
    }
    &__more {
        margin-top: 43px;
        width: 49px;
        height: 49px;
        border-radius: 100%;
        background-color: #232323;
        font-size: 24px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    &__hamburger {
        width: 73px;
        height: 73px;
        margin: 1px 31px 0 0;
        padding: 22px 22px 22px 21px;
        background-color: #fda11c;
        border-radius: 100%;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #ffffff;
            margin-bottom: 8px;
        }
    }
    &__phone-form {
        width: 133px;
        height: 45px;
        border-radius: 22.5px;
        background-color: #ffaf2d;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}