
@import 'base/variables';
@import 'base/fonts';
@import 'base/buttons';
@import 'base/swipe';

* {
    font-family: 'MyriadPro';
    img {
        width: 100%;
    }
}
body {
    background-color: #ebe9e9;
}
.container {
    max-width: 1550px;
    margin: 0 auto;
    width: 95%;
}
.container-2 {
    max-width: 1415px;
    margin: 0 auto;
    width: 95%;
}

@import 'block/promo';
@import 'block/promo-mobile';
@import 'block/main';
@import 'block/swiper';
@import 'block/company';
@import 'block/news';
@import 'block/recommend';
@import 'block/about-company';
@import 'block/contacts';
@import 'block/footer';

@import 'base/media';


.active-style {
    display: block;
}
.active-content {
    display: block;
}
.status {
    margin-top: 5px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}